@import "_vars.scss";

nav {
  padding: 10px;

  a {
    padding: 10px;
    text-decoration: none;
    color: gray;
  }
}

.player-section {
  position: sticky;
  bottom: 0px;
  right: 0;
  height: 130px;
}