@import "_vars.scss";

nav {
  padding: 10px;

  a {
    padding: 10px;
    text-decoration: none;
    color: gray;
  }
}

#my_container {
  //text-align: center
}

#player-section {
  position: fixed;
  bottom: 0;
  height: 130px;
  left: 20%;
  right: 20%;
  width: auto;
}
